@import "custom";

.App {
  text-align: center;
}

.App {
  background-color: $dark;
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-logo {
  max-width: 200px;
}