@import "./custom.scss";

.App {
  text-align: center;
}

.App {
  background-color: $dark;
  min-height: 100vh;
  color: white;
}

.link-logo {
  max-width: 200px;
}

.centered {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 25px;
}
